<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Title Page</title>
		<meta charset="UTF-8">
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS -->
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

  	<link rel="stylesheet" href={{url_for('static', filename="custom.css")}}>
	</head>
	<body>
		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

		<script type=text/javascript>
		$(function() {
		    $('#run').bind('click', function() {
		      $('#status').toggleClass('hidden');
		      $.post($SCRIPT_ROOT + '/py6sparams', {'aot': $('#aot').val()}, function(data) {
		        $("#image").attr('src', 'data:image/png;base64,'+data)
		        $('#status').toggleClass('hidden');
		      });
		  });

		    $('#clear').bind('click', function() {
		   		$.get($SCRIPT_ROOT + '/clear');
		   		$('#image').attr('src', '')
		   	});
		});
		</script>

		<script src="{{url_for('static', filename="spin.min.js")}}"></script>




			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<form>
					<legend>Web6S</legend>
					<p>This runs the 6S radiative transfer model for a Green Vegetation spectrum, with the given AOT, plotting the radiance at satellite level.</p>
					<p>Try running for a number of AOTs and comparing the results</p>
					<div class="form-group">
						<label for="aot">AOT</label>
						<input type="text" class="form-control" id="aot" value="0.25">
					</div>
				
				</form>

				<a id="run" class="btn btn-success has-spinner active">Run</a>
				<a id="clear" class="btn btn-danger has-spinner active">Clear</a>

				<p id="status" class="text-center hidden">Running...</p>
			</div>
		
			<div id='graph' class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<img id="image" src="">
			</div>
		
	</body>
</html>